[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cscore = {editable = true, file = "/Users/jdooley/Development/common_stocks/code/csCore"}
attrs = "*"
pendulum = "*"
orjson = "*"
beautifulsoup4 = "*"
dnspython = "*"
pymongo = "*"
requests = "*"
loguru = "*"
click = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
